.TemplateType{
  margin-bottom: 80px;
  h3{
    color: #8F9293;
    font-size: 11px;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
  }
  .TemplateButtonsWrapper{
    display: flex;
    .SignatureLayoutImage{
      width: 100%;
    }
    p{
      margin: 0;
      font-size: 13px;
      font-family: Roboto, sans-serif;
      &.activeText{
        color: #B4B000;
      }
    }
  }

}